name: Deploy Hexo Blog

on:
  push:
    branches:
      - main  # 当 main 分支收到推送时触发

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    # defaults:
      # run:
        # working-directory: ./blog  # 全局设置工作目录

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive # 如过使用npm install --save hexo-theme-fluid安装应该不需要这句了
          # token: ${{ secrets.PERSONAL_TOKEN }}  # 对私有子模块必要
          # submodules: true
          # path: ./blog  # 关键修改：直接将代码检出到 blog/ 目录
          
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        # run: npm install
        run: |
          npm install -g hexo-cli  
          npm install
      
      - name: Create and Configure Theme Config
        run: |
          cp _config.fluid.example.yml _config.fluid.yml
          sed -i 's/clientSecret: .*/clientSecret: ${{ secrets.GITALK_CLIENT_SECRET }}/' _config.fluid.yml
        
      - name: Build
        # working-directory: ./blog
        run: |
          hexo clean
          hexo generate
          
      - name: Initialize Gitalk Comments
        env:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        run: |
          npx hexo gitalk:init
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }} #创建仓库后在设置中添加，使用旧版token
          external_repository: luomuqingyun/luomuqingyun.github.io
          publish_branch: main
          publish_dir: ./public







        